@for (player of game.players; track player; let i = $index) {
<app-player [ngStyle]="{'top.px': 150 + (i * 100)}" 
[playerActive]="i == game.currentPlayer" [name]="player"
    class="player-data"></app-player>
}
<div class="field">
    <div class="card-stack">

        @for (card of [0,1,2,3]; track card)
        {
        <img [ngStyle]="{'right.px': card * 5}" src="assets/img/cards/card_cover.png">
        }
        <img (click)="takeCard()" class="top-card" style="right: 25px" src="assets/img/cards/card_cover.png">

        @for (card of game.playedCards; track card) {
        <img class="played-card" src="{{ 'assets/img/cards/' + card + '.png' }}">
        }

        @if (pickCardAnimation && game.players.length > 0) {
        <img (click)="takeCard()" class="pick-card" style="right: 25px" src="{{ 'assets/img/cards/' + currentCard + '.png' }}">
        }
    </div>

</div>

<app-game-todo [card]="currentCard" class="pin-bottom"></app-game-todo>
<button  mat-fab class="add-btn" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>

<!-- <button [disabled]="game.players.length > 5" mat-fab class="add-btn" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button> -->