.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(50, 50, 50, 0.8);
    height: 212px;
    width: 72px;
    border-bottom-right-radius: 65px;
    border-bottom-left-radius: 65px;
    padding: 4px;
    margin-left: 22px;

    >img {
        width: 70px;
        height: 70px;
        margin-top: 12px;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            transform: scale(1.03);
        }
    }

    >span {
        width: 100%;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        transform: rotate(-90deg);
        margin-bottom: 22px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.player-active {
    background-color: rgb(255, 140, 0) !important;
}